body{
	background-color: #999;
	font-family: Arial,"微軟正黑體";
}

#header {
	margin: 0 auto;
	width:700px;
}

#header h1 {
	display: block;
	width: 700px;
	height: 20px;
	text-align: center;
}

#nav {
	width: :700px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

#nav ul {
	display: inline-block;
	margin: 10 auto;
	padding: 0;
	list-style: none;
}

#nav li {
	float: left;
	list-style-type: none;
}

.btn {
	text-transform: uppercase;
	padding: 10px 40px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;
	display: inline-block;
}

.btn--primary {
	background: #2874a6 ;
	transition: all .3s;
}

.btn--primary:hover {
  background: #2980b9;
}

.btn--round {
	border-radius: 20px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 700;
}

